body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 70px;
    justify-content: space-between;
}

h1:hover {
    color: pink;
}

p {
    font-size: 25px;
    color: lightpink;
}


img {
    display: block;
    width:300px;
    height: 300px;
    border: 3px double aqua;
}

img:hover {
    width: 250px;
    height: 250px;
    border: 3px double plum;
}

.cutie {
    text-decoration: dotted underline;
    color: rgb(230, 157, 248);
    font-size: 30px;
    font-family: sans-serif;
}

footer {
    text-align: center;
    font-size: 20px;
    background-color: peachpuff;
    color:hotpink;
    font-family: sans-serif;
}
